<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-7">Table</label>
            <input type="text" class="gf-form-input" ng-model="ctrl.target.table" spellcheck="false"
                   placeholder="Table path" ng-change="ctrl.tableUpdated()" ng-blur="ctrl.refresh()">
        </div>
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-7">Condition</label>
            <input type="text" class="gf-form-input" ng-model="ctrl.target.condition" spellcheck="false"
                   ng-change="ctrl.conditionUpdated()"
                   placeholder="Find query condition" ng-blur="ctrl.refresh()">
        </div>
    </div>

    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-7">Type</label>
            <select class="gf-form-input" ng-model="ctrl.target.type"
                    ng-options="f as f for f in ['Raw Document', 'Timeseries']"></select>
        </div>
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-7">Time field</label>
            <input type="text" class="gf-form-input" ng-model="ctrl.target.timeField" ng-blur="onChange()">
        </div>
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-7">Limit</label>
            <input type="number" class="gf-form-input" ng-model="ctrl.target.limit" ng-blur="onChange()">
        </div>
    </div>

</query-editor-row>
